@import '../../styles/colors.scss';
@import '../../styles/functions.scss';

.closeButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 290px;
    margin: 0 auto;

    &_cross {
        width: 30px;
        height: 30px;
    }

    &_name {
        font-family: mr-eaves-modern, sans-serif;
        font-size: 3.2rem;
        letter-spacing: 2.5rem;
        font-weight: 200;
    }

    &:hover {
        cursor: pointer;
    }
}

.linkButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 180px;
    height: 55px;
    border: 2px solid $font-dark;
    color: $font-dark;
    transition: all .25s ease;
    font-family: mr-eaves-modern, sans-serif;
    font-size: 20px;

    &:hover {
        color: white;
        background-color: $font-dark;
    }
}