@import "../../styles/functions.scss";

.nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100vw;

    &_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 64px;

        @include mq_max(md) {
            padding: 24px;
        }
    }

    &_title {
        h1 {
            font-size: 2.4rem;
            font-weight: normal;

            @include mq_max(md) {
                font-size: 1.8rem;
            }
        }
    }

    &_menu {
        display: flex;
        justify-content: space-between;
        width: 150px;

        @include mq_max(md) {
            width: 120px;
        }
        
        a {
            font-size: 1.5rem;
        }
    }
}