.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 0px 108px;

    &_title {
        h1 {
            font-size: 2.4rem;
            font-weight: normal;
        }
    }

    &_menu {
        display: flex;
        justify-content: space-between;
        width: 270px;
        
        a {
            font-size: 1.4rem;
        }
    }
}