@import '../../styles/colors.scss';
@import '../../styles/functions.scss';

.normal {
    // padding-top: 60px;
    background-color: $backgroundColor;
    padding: 168px 64px 0;

    @include mq_max(md) {
        padding: 0px 0px 0px;
    }
}

.fullScreen {
    background-color: $backgroundColor;
    padding: 108px 0 168px;
}

.titleBase {
    background-color: $base_color;
    padding: 144px 20px 0;

}

.page {
    max-width: 1280px;
    margin: 0 auto;
}