@import "../../styles/colors.scss";
@import "../../styles/functions.scss";

.secTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding-bottom: 108px;

    @include mq_max(md) {
        width: 100%;
        padding-bottom: 40px;
        justify-content: space-around;
    }

    &_title {
        padding-right: 24px;
        font-family: mr-eaves-sans, sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 3.2rem;
        letter-spacing: 2.5rem;
        color: $font_dark;

        @include mq_max(md) {
            padding-right: 0px;
            font-size: 2.8rem;
            letter-spacing: 1.8rem;
        }
    }

    &_line {
        flex-grow: 2;
        border: 1px solid $font_dark;

        @include mq_max(md) {
            display: none;
        }
    }
}

.processTitle {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 108px 0 40px;

    @include mq_max(md) {
        padding: 64px 0 24px;
    }
    
    img {
        width: 41px;
        height: auto;
    }

    &_p {
        width: 100%;
        padding: 0 0 0 16px!important;
        font-size: 2.3rem!important;
        color: $font-dark!important;
        font-weight: normal!important;

        @include mq_max(md) {
            font-size: 1.8rem!important;
        }
    }
}