@import '../../styles/functions.scss';
@import "../../styles/colors.scss";

.work {
    width: 30%;
    margin-bottom: 168px;

    @include mq_max(lg) {
        width: 48%;
    }

    &:nth-child(2n) {
        // padding-top: 108px;
    }

    &:hover {
        cursor: pointer;

        .work_thumb {
            // transform: translate(-3px, -3px);
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        }
    }

    &_thumb {
        margin-bottom: 16px;
        transition: all .25s ease;
    }

    &_title {
        font-size: 1.8rem;
    }

    &_date {
        font-size: 1.8rem;
        color: $font_light;
    }

    &_skill,
    &_skill span {
        color: $font_light;
    }

    &_skill span {
        padding: 0 8px;
    }

    &_skill:last-child span{
        display: none;
    }
}