/* ----- color ----- */
$main_color: #6FA8A9;
$main_color_light: #9BC5C6;
$base_color: #EDEDED;
$accent_color: #F0A528;
$offlabel_color: #2E2D53;
$font_color: #4A4A4A;
$border_color: #3E3E3E;

$font_dark: #2f2f2f;
$font_light: #939597;
$backgroundColor: #FDFEFF;