@import './colors.scss';
@import './functions.scss';

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.home {
    width: 100%;
}

.home_profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100vh;
    padding: 0 64px;
    margin-bottom: 168px;
    background-image: url("/images/keyArt.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include mq_max(md) {
        padding: 0 24px;
        margin-bottom: 64px;
    }

    &_me {
        font-size: 3.8rem!important;
        font-family: mr-eaves-modern, sans-serif;
        font-weight: 200;
        font-style: italic;
        letter-spacing: .5rem;

        span {
            letter-spacing: .2rem;
            font-size: 2rem;
        }

        @include mq_max(md) {
            font-size: 2.8rem!important;
            letter-spacing: .5rem;
        }
    }

    &_desc {
        padding-top: 64px;
        font-size: 1.4rem;
        font-family: kinuta-maruminshinano-stdn, serif;
        font-weight: 400;
        line-height: 2.4;

        @include mq_max(md) {
            font-size: 1.4rem;
        }
        
        @include mq_max(sm) {
            font-size: 1.2rem;
        }
    }

    &_skill {
        @include mq_max(sm) {
            text-align: center;
        }

        h2 {
            font-family: mr-eaves-modern, sans-serif;
            padding-top: 40px;
            color: $font-light;
            font-weight: 200;
            font-style: italic;
            font-size: 2.3rem;

            @include mq_max(md) {
                font-size: 1.8rem;
            }
        }

        p {
            font-family: mr-eaves-modern, sans-serif;
            font-size: 2.1rem;
            font-style: italic;
            font-weight: 200;

            @include mq_max(md) {
                font-size: 1.6rem;
            }
        }
    }

    &_keyart {
        width: 62.5%;

        @include mq_max(md) {
            width: 100%;
        }
    }
}

.home_works {
    padding: 0 40px 242px;
    max-width: 1280px;
    margin: 0 auto;

    @include mq_max(md) {
        padding: 0 0px 108px;
    }

    &_cont {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.home_gallery {
    margin: 0 auto;
    &_cont {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }

    &_item {
        width: calc(25% - 24px * 3 / 4);
        margin: 12px 0;

        @include mq_max(lg) {
            width: calc(33% - 24px * 2 / 3);
        }
    }
}

.home_contact {
    width: 100%;
    padding: 0 40px 242px;
    max-width: 1280px;
    margin: 0 auto;

    @include mq_max(md) {
        padding: 0px 16px 168px;
    }

    &_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &_title {
        color: $font_light;
    }

    &_item {
        line-height: 2.1;
    }

    &_desc {
        // padding-top: 16px;
        font-size: 1.5rem;
        line-height: 2.2;
    }

    &_line {
        width: 120px;
        margin: 40px 0;
        border-bottom: 1px solid $font-light;

        @include mq_max(md) {
            margin: 24px 0;
        }
    }

    &_cont {
        width: 60%;
        
        @include mq_max(md) {
            width: 100%;
        }
    }

    &_thumb {
        width: 30%;

        @include mq_max(md) {
            padding-top: 24px;
            width: 100%;
        }
    }
}