@import './colors.scss';
@import './functions.scss';

.thumbnail {
    width: 80%;
    margin: 0 auto;

    @include mq_max(md) {
        width: 100%;
        margin: -36px auto 0;
    }
}

.info {
    width: 75%;
    max-width: 1280px;
    margin: 0 auto 0;
    padding: 108px 40px 0;

    @include mq_max(md) {
        width: 100%;
        padding: 40px 24px 0;
    }

    &_title {
        font-size: 1.8rem;
        font-weight: normal;
        color: $font_dark;
        text-align: center;
        line-height: 1.6;

        @include mq_max(md) {
            text-align: left;
        }
    }

    &_line {
        padding: 0 12px;
    }

    &_tags {
        padding-top: 40px;
        text-align: center;
        color: $font-light;
        span {
            font-size: 1.6rem;

            &:last-child span {
                display: none;
            }
        }

        @include mq_max(md) {
            padding-top: 24px;
            text-align: left;
        }
    }

    &_skills {
        // padding-top: 40px;
    }

    &_description {
        margin: 0 auto;
        max-width: 830px;
        padding: 64px 0;
        line-height: 2.3;
        font-size: 1.6rem;

        @include mq_max(md) {
            font-size: 1.4rem;
        }
    }
}


.body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 64px 40px 64px;
    max-width: 1300px;
    margin: 0 auto;

    @include mq_max(md) {
        padding: 0;
    }

    &_imgWrapper {
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        padding: 40px 0;
        
        @include mq_max(md) {
            padding: 24px 0;
        }
    }

    p {
        width: 100%;
        line-height: 2.6;
        font-size: 1.6rem;
        color: $font-dark;

        @include mq_max(md) {
            padding: 0 24px 24px;
            font-size: 1.4rem;
            line-height: 2.3;
        }
    }

    &_bold {
        font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
        font-weight: bold;
    }
}

.close {
    padding: 168px 0 64px;
}